[submodule "third_party/proto"]
	path = third_party/proto
	url = git://github.com/P8P-7/proto.git
[submodule "third_party/lib-dynamixel"]
	path = third_party/lib-dynamixel
	url = git://github.com/P8P-7/lib-dynamixel.git
[submodule "src/modules/zmq-messaging"]
	path = src/modules/zmq-messaging
	url = git@github.com:P8P-7/zmq-messaging.git
[submodule "src/modules/foundation"]
	path = src/modules/foundation
	url = git@github.com:P8P-7/foundation.git
